.app
    padding-left: 50px
    padding-right: 50px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.logo
    margin: auto 0
    width: 1200px
    text-align: center
    background-color: #c7a3a3ab
    h1
        font-size: 40px

.info
    width: 900px
    h2
        font-size: 31px
    li
        list-style: none
        font-size: 25px

.quadratic_equation
    width: 900px
    font-size: 25px

   
    .input
        &__txt
            margin-top: 30px
            margin-bottom: 10px
        &__wrapper
            display: flex
            flex-direction: column
        &__block
            width: 320px
            display: flex
            margin-bottom: 5px
        &__parameter
            margin-right: 10px
            width: 240px
        input
            width: 50px

    .result
        margin-top: 50px
        .equation
            display: flex
            &__txt
                margin-right: 36px
            &__block
                display: flex
